.footer {
    margin-top: 50px;
    padding: 20px;
    background-color: rgb(115, 190, 233);
    color: white;
    text-align: center;
}

.copyright {
    padding: 10px 0px;
    font-style: italic;
}